:root {
    /*--bg-dark: #09090b;*/
    /*--bg-card: #0f0f12;*/
    --bg-very-light: #ffffff;
    --bg-light: #f6f6f6;
    --bg-card: #f4f4f4;
    --bg-surface: #18181b;
    --accent-primary: #1638ff;
    --accent-primary-text: #fff;
    --accent-secondary: #3f5aff;
    --accent-glow: rgba(109, 109, 246, 0.12);
    --text-primary: #2d2d2d;
    --text-secondary: #71717a;
    --text-dim: rgba(0,0,0,.2);
    --success: #4ade80;
    --warning: #facc15;
    --dark: #222;
    --border: #bdbdbd;
}

.accent {
    background: var(--accent-primary);
    color: var(--accent-primary-text);
}

.dark {
    background: var(--dark);
    color: var(--accent-primary-text);

}

.mirage {
    background: #16232A;
}

.blaze {
    background: #ff5b04;
}

/*.green {*/
/*    background: #075056;*/
/*}*/

.sand {
    background: #c88846;
    color: white;
}

/*-------------*/



.mint {
    background: #d9e8e2;
}

.forsythia {
    background: #ffc801;
}

.saffron {
    background: #ff9932;
}

.nocturnal {
    background: #114c5a;
}

.ocean {
    background: #172b36
}

/*---------------*/

.off-black {
    background: #0d1014;
}

.alice {
    background: #f2f9fc;
}

.gunmetal {
    background: var(--bg-card);
}

.grey {
    background: #acb9be;
}

.green {
    background: #f98059;
}




.blue {
    background: #1a73e8;
}



.grey {
    background: #e6e9ec;
}

.cobalt {
    background: #1638ff;
    color: white
}

.top-line-1 {
    background: linear-gradient(to bottom, #4f6b80 3%, #171f25 3%);
}

.text-dim {
    color: var(--text-dim);
}

.text-opacity-50 {
    opacity: .5;
}
