.mirage {
    background: #16232A;
}

.blaze {
    background: #ff5b04;
}

/*.green {*/
/*    background: #075056;*/
/*}*/

.sand {
    background: #e4eff0;
}

/*-------------*/



.mint {
    background: #d9e8e2;
}

.forsythia {
    background: #ffc801;
}

.saffron {
    background: #ff9932;
}

.nocturnal {
    background: #114c5a;
}

.ocean {
    background: #172b36
}

/*---------------*/

.off-black {
    background: #0d1014;
}

.alice {
    background: #f2f9fc;
}

.gunmetal {
    background: #171f25;
}

.grey {
    background: #acb9be;
}

.green {
    background: #f98059;
}




.blue {
    background: #1a73e8;
}



.grey {
    background: #e6e9ec;
}
