.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar > div > .menu-header {
    padding-top: 2rem;
    padding-inline: 2rem;
}

.menu-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*padding: 1rem*/
}

.menu-container > * {
    margin-bottom: 1rem;
    /*background-color: #e5e5e5;*/
    /*color: white;*/
    /*border: 1px solid;*/

}

.menu-container h5 {
    /*color: black;*/
    font-weight: 400;
}



.menu-list-item-container {
    background: transparent;
    transition: color .25s ease-in-out;
}

.menu-list-item-container > * {
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.menu-list-item-container > *:hover {
    background: rgba(255,255,255,1);
    /*color: #ffb731;*/
    border: 1px solid rgba(255,255,255,.1);
}

.menu-list-item-container > * > .icon:hover {
    filter:
            brightness(0)
            saturate(100%)
            invert(72%)
            sepia(88%)
            saturate(4300%)
            hue-rotate(358deg)
            brightness(102%)
            contrast(104%);
}


