.sidebar {
    /*background-color: #ffffff;*/
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid;
    border-color: rgba(255,255,255,.1);
    /*flex: 1*/
}

.sidebar > div > .menu-header {
    padding-top: 2rem;
    padding-inline: 2rem;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-container > * {
    padding-inline: 2rem;
    padding-block: .5rem;
    /*background-color: #e5e5e5;*/
    /*border: 1px solid;*/
    transition: background-color .3s ease-in-out;
}

.menu-container > a {
    /*color: black;*/
    font-weight: 400;
}

.menu-container > *:hover {
    background-color: #e5e5e5;
}

