.sidebar {
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    /*border-right: 1px solid;*/
    /*border-color: rgba(0,0,0,.4);*/
    /*flex: 1*/
}

.sidebar > div > .menu-header {
    padding-top: 2rem;
    padding-inline: 2rem;
}

.menu-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*padding: 1rem*/
}

.menu-container > * {
    margin-bottom: 1rem;
    /*background-color: #e5e5e5;*/
    color: white;
    /*border: 1px solid;*/

}

.menu-container h5 {
    /*color: black;*/
    font-weight: 400;
}



.menu-list-item-container {
    transition: color .25s ease-in-out;
}

.menu-list-item-container > *:hover {
    color: #ffb731;
}

.menu-list-item-container > * {
    cursor: pointer;
}
