* {
    box-sizing: border-box;
}

.navbar {
    background: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    margin: 0;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-inline: 4rem
}

.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 10rem;
    height: 70%
}

.nav-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.master-container {
    height: 100%;
    /*background-color: #0e0e0e;*/

    flex-direction: column;
    width: 100%;
    display: flex
}

.gradient {
    background: linear-gradient(45deg, #101010, #1d1d1d, #464646);
}

.is-gap-1 {
    gap: 1rem
}

.is-gap-2 {
    gap: 2rem
}

.is-dark-grey {
    color: #555
}

.page {
    flex: 1;
    /*width: 100vw;*/
    /*width: 100%;*/
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.hero-section {
    /*padding-inline: 4rem;*/
    /*width: 75%;*/
    /*height: 600px;*/
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    flex-direction: column;
    /*background: linear-gradient(to bottom, #0e0e0e, #1f1f1f);*/
    /*height: 700px*/
    /*background-color: #cf9e9e*/
}

.general-field > * {
    margin-bottom: 1rem;
    margin-top: 0
    /*flex: 1*/
}

.hero-field {
    margin-bottom: 1rem;
}

.hero-field > :nth-child(1) {
    margin-top: 0;
}

.hero-section > * {
    /*margin-bottom: 2rem;*/
}

.general-section {
    /*padding: 2rem;*/
    width: 60%;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*width: 100%;*/
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    /*width: auto;*/
    height: 50px;
    /*background-color: white;*/
}

.button-accent {
    background-color: #eed94e;
}

.button-dull {
    background-color: #171717;
    color: white
}

.input-dark {
    background: transparent;
    border: 0px;
    /*border-bottom: 1px solid;*/
    /*border-color: rgba(255,255,255,.2);*/
    /*padding-bottom: 1rem;*/
    width: 100%;
    color: white;
    font-size: 18px;

}

.input-dark::placeholder {
    color: white;
    opacity: .4;
}

.input-dark:focus {
    outline: none
}



.input-field {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,.3);
    padding-right: 3rem;
}

.input-field > :nth-child(2) {
    position: absolute;
    right: 1rem;
    cursor: pointer
}

.error-message {
    color: #ff5555
}



