* {
    box-sizing: border-box;
}

.master-container {
    /*background-color: #704242;*/
    height: 100vh;
    width: 100vw;
}

.navbar {
    background: #1571b5;
    /*color: white;*/
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    margin: 0;
    align-items: center;
    min-height: 80px;
    /*width: 100%;*/
    /*flex: 1;*/
    color: white;
    padding-inline: 2rem;
    border-bottom: 2px solid;
    border-color: rgba(255,255,255,.1);
}

.static-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*background-color: darkgreen;*/
}

.sidebar-page {
    /*height: auto;*/
    width: 80%;
    /*background-color: #7cb350;*/
    display: flex;
    /*flex: 1;*/
    flex-direction: row;
    /*height: auto;*/
}

.page-content {
    /*background-color: orange;*/
    /*flex: 1;*/
    width: 100%;
    height: 100%;
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
}

.mainframe {
    /*background-color: #f1f1f1;*/
    width: 90%;
    height: auto;
    display: flex;
}

.logged-out {
    width: 100%;
    background: linear-gradient(45deg, #121212, #252525);
    /*overflow-y: none;*/
    /*padding: 2rem*/
}

.mainframe-grid {
    width: 100%;
    height: 100%;
    /*background-color: darkred;*/
    display: grid;
    grid-template-columns: 1fr;
    /*gap: 1rem*/
    /*overflow-y: scroll;*/
}

.scroll {
    overflow-y: scroll;
}

.mainframe-section {
    /*background-color: #4d7a9c;*/
    /*flex: 1;*/
    width: 100%;
    /*height: 400px*/
    /*padding: 1rem*/
}

.sub-nav {
    /*width: 50%*/
}

.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 10rem;
    /*height: 70%*/
}

.padding-1 {
    padding: 1rem
}

.padding-4 {
    padding: 4rem
}

.nav-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}





.app-background {
    /*background: #e8bcbc;*/
    background-color: #e4e4e4;

}


.gradient {
    background: linear-gradient(45deg, #0c0c0c, #373737);
    /*color: black*/
}



.is-gap-1 {
    gap: 1rem
}

.is-gap-2 {
    gap: 2rem
}

.is-dark-grey {
    color: #555
}



.hero-section {
    /*padding-inline: 4rem;*/
    width: 60%;
    height: 60%;
    /*flex: 1;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    flex-direction: column;
    /*background: linear-gradient(to bottom, #0e0e0e, #1f1f1f);*/
    /*height: 700px*/
    /*background-color: #cf9e9e*/
}

.general-field > * {
    margin-bottom: 1rem;
    margin-top: 0
}

.hero-field {
    margin-bottom: 2rem;
}

.hero-field > :nth-child(1) {
    margin-bottom: 1rem;
}

.hero-field > :nth-child(1) {
    margin-top: 0;
}

.hero-section > * {
    /*margin-bottom: 2rem;*/
}

.general-section {
    /*padding: 2rem;*/
    width: 60%;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*width: 100%;*/
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    /*width: auto;*/
    height: 50px;
    /*background-color: white;*/
}

.button-accent {
    background-color: #eed94e;
}

.button-dull {
    background-color: #171717;
    color: white
}

.input-dark {
    background: transparent;
    border: 0px;
    /*border-bottom: 1px solid;*/
    /*border-color: rgba(255,255,255,.2);*/
    /*padding-bottom: 1rem;*/
    width: 100%;
    color: white;
    font-size: 18px;

}

.input-dark::placeholder {
    color: white;
    opacity: .4;
}

.input-dark:focus {
    outline: none
}



.input-field {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,.3);
    padding-right: 3rem;
}

.input-field > :nth-child(2) {
    position: absolute;
    right: 1rem;
    cursor: pointer
}

.error-message {
    color: #ff5555
}

.page-lock {
    background-color: #bd6e6e;
    /*flex: .9;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding: 2em;*/
    padding-top: 0
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgba(255,255,255,.4);
    /*padding: 1rem*/
}

.hero > * {
    margin-bottom: 1rem;
}

.column {
    flex-direction: column;
}

.light {
    background-color: #e5e5e5;
    color: black
}

.white {
    background-color: white;
}

.centered {
    display: flex;
    justify-content: center;
}

/*Grids*/

.grid {
    display: grid;
    /*height: 500px;*/
    width: 100%;
    /*grid-template-columns: 1fr;*/
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
}

.has-1-col {
    grid-template-columns: 1fr;
}

.has-2-col {
    grid-template-columns: 1fr 1fr;
}

.has-3-col {
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    background: rgba(255,255,255,.05);
    border-radius: 0;
    padding: 2rem;
    width: 100%;
}

.shadow {
    box-shadow: 0 .1rem .5rem rgba(0,0,0,.1);
}



.img {
    width:25%;
    height: auto; /* or a fixed height if you want it to fill the vertical space */
    object-fit: cover;
    display: block; /* optional: removes small whitespace under image */
}


/*Colors*/

.color-tech-dark {
    /*background: linear-gradient(45deg, #12023d, #3239d4);*/
    /*color: white*/
}

.center-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header {
    display: flex;
    flex-direction: row;
    gap: .5rem
}

.dark-mode {
    background: #1c1c1c;
    color: white
}