@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./color-palette.css";

.inter-100 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-200 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inter-300 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-800 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-900 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}



* {
    box-sizing: border-box;
}

.master-container {
    height: 100vh;
    width: 100vw;
}

.navbar {
    background: #ffffff;
    /*color: white;*/
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    min-height: 75px;
    /*padding-inline: 2rem;*/

    /*color: white;*/
    /*border-color: rgba(0,0,0,.4);*/

}

.static-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-page {
    /*height: auto;*/
    width: 80%;
    /*background-color: #7cb350;*/
    display: flex;
    /*flex: 1;*/
    flex-direction: row;
    /*height: auto;*/
}

.page-content {
    /*background-color: var(--bg-light);*/
    /*flex: 1;*/
    width: 100%;
    height: 100%;
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
    /*color: white;*/
}

.mainFrame {
    background-color: #ffffff;
    flex: 1;
    height: auto;
    display: flex;
}

/*Text Classes*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: white;
}

.height-50 {
    height: 50%;
}

.height-100vh {
    height: 100vh;
}

.height-full {
    height: 100%
}

.height-300 {
    height: 300px;
}

/*Sizing Classes*/
.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

/*Margin Classes*/

.mb-half {
    margin-bottom: .5rem;
}

.mb-half-children > *:not(:last-child) {
    margin-bottom: .5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-1-children > *:not(:last-child) {
    margin-bottom: 1rem;
}

.mb-2-children > *:not(:last-child) {
    margin-bottom: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}


.mb-2-children > *:not(:last-child) {
    margin-bottom: 2rem;
}

.section {
    /*width: 100%;*/
}

/*Align Classes*/

.center {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.logged-out {
    width: 100%;
    background: white;
    /*color: black*/
    /*overflow-y: none;*/
    /*padding: 2rem*/
}

.section-container {
    width: 100%;
    /*height: 100%;*/
    /*background-color: var(--bg-dark);*/
    display: flex
    /*gap: 1rem*/
    /*overflow-y: scroll;*/
}

.scroll {
    overflow-y: scroll;
}

.mainFrame-section {
    /*background-color: #4d7a9c;*/
    /*flex: 1;*/
    width: 100%;
    /*height: 400px*/
    /*padding: 1rem*/
}

.sub-nav {
    /*width: 50%*/
}

/*Grids ---------- */

.grid {
    display: grid;
    width: 100%;
    gap: 1rem;
    padding-bottom: 0;
    margin: 0;
}

.grid-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.span-2-col {
    grid-column: span 2
}

.span-3-col {
    grid-column: span 3;
}

.span-4-col {
    grid-column: span 4;
}
/* ---------- */

/*Gap Classes*/

.gap-1 {
    gap: 1rem;
}

/*Padding Classes*/
.p-1 {
    padding: 1rem
}

.pb-1 {
    padding-bottom: 1rem
}

.p-2 {
    padding: 2rem
}

.pl-2 {
    padding-left: 2rem;
}

.py-1 {
    padding-block: 1rem;
}

.padding-4 {
    padding: 4rem
}

.nav-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Flex Classes*/

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: flex-start;
}


.app-background {
    /*background: #e8bcbc;*/
    background-color: #e4e4e4;

}


.gradient {
    /*background: linear-gradient(45deg, #0c0c0c, #373737);*/
    /*color: black*/
}

.gap-half {
    gap: .5rem
}

.gap-1 {
    gap: 1rem
}

.is-gap-2 {
    gap: 2rem
}

.is-dark-grey {
    color: #555
}



.hero-section {
    /*padding-inline: 4rem;*/
    width: 60%;
    height: 60%;
    /*flex: 1;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*color: #ffffff;*/
    flex-direction: column;
    /*background: linear-gradient(to bottom, #0e0e0e, #1f1f1f);*/
    /*height: 700px*/
    /*background-color: #cf9e9e*/
}

.field {
    margin-bottom: .5rem;
    margin-top: 0
}

.field > * {
    margin-bottom: .25rem;

}

.hero-field {
    margin-bottom: 2rem;
}

.hero-field > :nth-child(1) {
    margin-bottom: 1rem;
}

.hero-field > :nth-child(1) {
    margin-top: 0;
}

.hero-section > * {
    /*margin-bottom: 2rem;*/
}

.general-section {
    /*padding: 2rem;*/
    width: 60%;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*width: 100%;*/
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    /*width: auto;*/
    height: 50px;
    /*background-color: white;*/
}

.button-accent {
    background-color: var(--accent-primary);
    color: var(--accent-primary-text);
    transition: all .2s ease-in-out;
}

.button-accent:hover {
    background-color: var(--accent-secondary);
    color: var(--accent-primary-text);
}

.button-dull {
    background-color: #171717;
    color: white
}

.input-dark,
.input-dark::placeholder {
    background: transparent;
    /*border: 0px;*/
    /*border-bottom: 1px solid;*/
    /*border-color: rgba(255,255,255,.2);*/
    /*padding-bottom: 1rem;*/
    width: 100%;
    /*color: white;*/
    font-size: 18px;

}

input {
    border: 0px;
    font-size: 1.25rem;
    /*margin-left: ;*/
}

.prepended-input {
    border-radius: .25rem;
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    padding: .5rem;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    background: white;
}

.prepended-input > p {
    margin-right: .5rem;

}

.input {
    border-radius: .25rem;
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    padding: .5rem;
    width: 100%;
    font-size: 1.25rem;
}

.input-dark::placeholder {
    color: white;
    opacity: .4;
}


.input-dark:focus {
    outline: none
}

.input-medium {
    border-radius: .5rem;
    border: 1px solid;
    border-color: rgba(0,0,0,.2);
    padding: .5rem;
    width: 100%;
    font-size: 2rem;
}


.is-size-3 {
    font-size: 3rem;
}

.is-size-7 {
    font-size: .9rem;
}

.input-field {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: rgba(255,255,255,.3);
    padding-right: 3rem;

}

.input-field > :nth-child(2) {
    position: absolute;
    right: 1rem;
    cursor: pointer
}

.error-message {
    color: #ff5555
}

.page-lock {
    background-color: #bd6e6e;
    /*flex: .9;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding: 2em;*/
    padding-top: 0
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgba(255,255,255,.4);
    /*padding: 1rem*/
}

.hero > * {
    margin-bottom: 1rem;
}

.column {
    flex-direction: column;
}

.light {
    background-color: #e5e5e5;
    color: black
}

.white {
    background-color: white;
}

.centered {
    display: flex;
    justify-content: center;
}



.has-1-col {
    grid-template-columns: 1fr;
}

.has-2-col {
    grid-template-columns: 1fr 1fr;
}

.has-3-col {
    grid-template-columns: repeat(3, 1fr);
}

.is-col-span-3 {
    grid-column: span 3;
}

.cell {
    background: rgba(255,255,255,.05);
    border-radius: 0;
    /*padding: 2rem;*/
    width: 100%;
}

.shadow {
    box-shadow: 0 .1rem .5rem rgba(0,0,0,.1);
}



.img {
    width:25%;
    height: auto; /* or a fixed height if you want it to fill the vertical space */
    object-fit: cover;
    display: block; /* optional: removes small whitespace under image */
}


/*Colors*/

.color-tech-dark {
    /*background: linear-gradient(45deg, #12023d, #3239d4);*/
    /*color: white*/
}

.center-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header {
    display: flex;
    flex-direction: row;
    gap: .5rem
}

.dark-mode {
    background: #1c1c1c;
    color: white
}

.text-small {
    font-size: .8rem;
}

.text-size-2 {
    font-size: 4rem;
}

.faint-text {
    opacity: .2;
}

.faint-text-25 {
    opacity: .25;
}

.faint-text-5 {
    opacity: .5;
}

.panel {
    /*box-shadow: 0 0 1rem rgba(0,0,0,.1);*/
    /*border: 1px solid var(--border);*/
    background: var(--bg-card);
    /*border: 2px solid rgba(255,255,255,.1);*/
    color: var(--text-primary);
    border-radius: 16px;
    padding: 1rem;
}

.tag {
    background: var(--bg-very-light);
    padding: .25rem;
    padding-inline: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.tag:hover {
    background: rgba(0,0,0,.3);
    color: white
}

.clear {
    background: transparent;
    color: white;
    border: 1px solid rgba(255,255,255,.2);
    /*border-bottom: ;*/
    border-radius: .5rem;
}

.clear::placeholder {
    color: white;
    opacity: .2;
}

.toolbar {
    height: auto;
}

.page-body {
    flex: 1;
}