* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Montserrat, Roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /*display: flex;*/
  place-items: center;
  width: 100vw;
  height: 100vh;
  /*background-color: #4a1616;*/
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  margin: 0
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0
}

h3 {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
}

button {
  border-radius: .25rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /*background-color: #1a1a1a;*/
  cursor: pointer;
  transition: border-color 0.25s;
  transition: filter .2s ease;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset !important;
  box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset !important;
  -webkit-text-fill-color: #000000 !important;
}
